@{
    ViewData["Title"] = "Home Page";
}


<div id="game-viewport">
    <div id="background-frame" class="main-content">
        <canvas id="game-canvas"></canvas>
    </div>
    <div id="modal-overlay" class="overlay-active">
        <div class="terminal-card">
            <h2 id="modal-title">TAVERN REGISTER</h2>
            <div id="auth-inputs">
                <input type="text" id="username" placeholder="HERO NAME" autocomplete="off">
                <input type="password" id="password" placeholder="SECRET WORD">
                <div class="button-group">
                    <button id="login-btn">ENTER</button>
                    <button id="register-btn">JOIN GUILD</button>
                </div>
            </div>
            <p id="terminal-output"></p>
        </div>
    </div>
</div>

@section Scripts {
    <script type="module" src="~/js/game.js"></script>
}